.left {
    border: 1px solid black
}

.right {
    border: 1px solid black;
}
.egcity {
    width: 100%;
    background-color: grey;
}
#weather-display> div {
    background-color: navy;
    color: white;
}
#current-city {
    width: 100%;
}
/* .current-city ~ div {
    width: 20%;
} */